/.vs/HttpClientDemo/v15/.suo
/.vs/HttpClientDemo/v15/Server/sqlite3/db.lock
/.vs/HttpClientDemo/v15/Server/sqlite3/storage.ide
/.vs/HttpClientDemo/v15/Server/sqlite3/storage.ide-shm
/.vs/HttpClientDemo/v15/Server/sqlite3/storage.ide-wal
/packages/AutoMapper.7.0.1/.signature.p7s
/packages/AutoMapper.7.0.1/AutoMapper.7.0.1.nupkg
/packages/AutoMapper.7.0.1/lib/net45/AutoMapper.dll
/packages/AutoMapper.7.0.1/lib/net45/AutoMapper.pdb
/packages/AutoMapper.7.0.1/lib/net45/AutoMapper.xml
/packages/AutoMapper.7.0.1/lib/netcoreapp2.0/AutoMapper.dll
/packages/AutoMapper.7.0.1/lib/netcoreapp2.0/AutoMapper.pdb
/packages/AutoMapper.7.0.1/lib/netcoreapp2.0/AutoMapper.xml
/packages/AutoMapper.7.0.1/lib/netstandard1.3/AutoMapper.dll
/packages/AutoMapper.7.0.1/lib/netstandard1.3/AutoMapper.pdb
/packages/AutoMapper.7.0.1/lib/netstandard1.3/AutoMapper.xml
/packages/AutoMapper.7.0.1/lib/netstandard2.0/AutoMapper.dll
/packages/AutoMapper.7.0.1/lib/netstandard2.0/AutoMapper.pdb
/packages/AutoMapper.7.0.1/lib/netstandard2.0/AutoMapper.xml
/packages/NLog.4.7.13/.signature.p7s
/packages/NLog.4.7.13/NLog.4.7.13.nupkg
/packages/NLog.4.7.13/lib/monoandroid44/NLog.dll
/packages/NLog.4.7.13/lib/monoandroid44/NLog.xml
/packages/NLog.4.7.13/lib/net35/NLog.dll
/packages/NLog.4.7.13/lib/net35/NLog.xml
/packages/NLog.4.7.13/lib/net40-client/NLog.dll
/packages/NLog.4.7.13/lib/net40-client/NLog.xml
/packages/NLog.4.7.13/lib/net45/NLog.dll
/packages/NLog.4.7.13/lib/net45/NLog.xml
/packages/NLog.4.7.13/lib/netstandard1.3/NLog.dll
/packages/NLog.4.7.13/lib/netstandard1.3/NLog.xml
/packages/NLog.4.7.13/lib/netstandard1.5/NLog.dll
/packages/NLog.4.7.13/lib/netstandard1.5/NLog.xml
/packages/NLog.4.7.13/lib/netstandard2.0/NLog.dll
/packages/NLog.4.7.13/lib/netstandard2.0/NLog.xml
/packages/NLog.4.7.13/lib/sl4/NLog.dll
/packages/NLog.4.7.13/lib/sl4/NLog.xml
/packages/NLog.4.7.13/lib/sl5/NLog.dll
/packages/NLog.4.7.13/lib/sl5/NLog.xml
/packages/NLog.4.7.13/lib/wp8/NLog.dll
/packages/NLog.4.7.13/lib/wp8/NLog.xml
/packages/NLog.4.7.13/lib/xamarinios10/NLog.dll
/packages/NLog.4.7.13/lib/xamarinios10/NLog.xml
/packages/Newtonsoft.Json.13.0.1/.signature.p7s
/packages/Newtonsoft.Json.13.0.1/LICENSE.md
/packages/Newtonsoft.Json.13.0.1/Newtonsoft.Json.13.0.1.nupkg
/packages/Newtonsoft.Json.13.0.1/lib/net20/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.13.0.1/lib/net20/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.1/lib/net35/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.13.0.1/lib/net35/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.1/lib/net40/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.13.0.1/lib/net40/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.1/lib/net45/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.13.0.1/lib/net45/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.1/lib/netstandard1.0/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.13.0.1/lib/netstandard1.0/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.1/lib/netstandard1.3/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.13.0.1/lib/netstandard1.3/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.1/lib/netstandard2.0/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.13.0.1/lib/netstandard2.0/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.1/packageIcon.png
/packages/System.ValueTuple.4.5.0/.signature.p7s
/packages/System.ValueTuple.4.5.0/LICENSE.TXT
/packages/System.ValueTuple.4.5.0/System.ValueTuple.4.5.0.nupkg
/packages/System.ValueTuple.4.5.0/THIRD-PARTY-NOTICES.TXT
/packages/System.ValueTuple.4.5.0/lib/MonoAndroid10/_._
/packages/System.ValueTuple.4.5.0/lib/MonoTouch10/_._
/packages/System.ValueTuple.4.5.0/lib/net461/System.ValueTuple.dll
/packages/System.ValueTuple.4.5.0/lib/net461/System.ValueTuple.xml
/packages/System.ValueTuple.4.5.0/lib/net47/System.ValueTuple.dll
/packages/System.ValueTuple.4.5.0/lib/net47/System.ValueTuple.xml
/packages/System.ValueTuple.4.5.0/lib/netcoreapp2.0/_._
/packages/System.ValueTuple.4.5.0/lib/netstandard1.0/System.ValueTuple.dll
/packages/System.ValueTuple.4.5.0/lib/netstandard1.0/System.ValueTuple.xml
/packages/System.ValueTuple.4.5.0/lib/netstandard2.0/_._
/packages/System.ValueTuple.4.5.0/lib/portable-net40+sl4+win8+wp8/System.ValueTuple.dll
/packages/System.ValueTuple.4.5.0/lib/portable-net40+sl4+win8+wp8/System.ValueTuple.xml
/packages/System.ValueTuple.4.5.0/lib/uap10.0.16299/_._
/packages/System.ValueTuple.4.5.0/lib/xamarinios10/_._
/packages/System.ValueTuple.4.5.0/lib/xamarinmac20/_._
/packages/System.ValueTuple.4.5.0/lib/xamarintvos10/_._
/packages/System.ValueTuple.4.5.0/lib/xamarinwatchos10/_._
/packages/System.ValueTuple.4.5.0/ref/MonoAndroid10/_._
/packages/System.ValueTuple.4.5.0/ref/MonoTouch10/_._
/packages/System.ValueTuple.4.5.0/ref/net461/System.ValueTuple.dll
/packages/System.ValueTuple.4.5.0/ref/net47/System.ValueTuple.dll
/packages/System.ValueTuple.4.5.0/ref/netcoreapp2.0/_._
/packages/System.ValueTuple.4.5.0/ref/netstandard2.0/_._
/packages/System.ValueTuple.4.5.0/ref/portable-net40+sl4+win8+wp8/System.ValueTuple.dll
/packages/System.ValueTuple.4.5.0/ref/uap10.0.16299/_._
/packages/System.ValueTuple.4.5.0/ref/xamarinios10/_._
/packages/System.ValueTuple.4.5.0/ref/xamarinmac20/_._
/packages/System.ValueTuple.4.5.0/ref/xamarintvos10/_._
/packages/System.ValueTuple.4.5.0/ref/xamarinwatchos10/_._
/packages/System.ValueTuple.4.5.0/useSharedDesignerContext.txt
/packages/System.ValueTuple.4.5.0/version.txt
/.vs/CreateInsertScripFromExcelSheet.cs/v15/.suo
/.vs/CreateInsertScripFromExcelSheet.cs/v15/Server/sqlite3/db.lock
/.vs/CreateInsertScripFromExcelSheet.cs/v15/Server/sqlite3/storage.ide
/.vs/CreateInsertScripFromExcelSheet.cs/v15/Server/sqlite3/storage.ide-shm
/.vs/CreateInsertScripFromExcelSheet.cs/v15/Server/sqlite3/storage.ide-wal
/CreateInsertScripFromExcelSheet.cs/bin/Debug/CreateInsertScripFromExcelSheet.cs.exe
/CreateInsertScripFromExcelSheet.cs/bin/Debug/CreateInsertScripFromExcelSheet.cs.exe.config
/CreateInsertScripFromExcelSheet.cs/bin/Debug/CreateInsertScripFromExcelSheet.cs.pdb
/CreateInsertScripFromExcelSheet.cs/bin/Debug/Excel.dll
/CreateInsertScripFromExcelSheet.cs/bin/Debug/Excel.pdb
/CreateInsertScripFromExcelSheet.cs/bin/Debug/Excel.xml
/CreateInsertScripFromExcelSheet.cs/obj/Debug/CreateInsertScripFromExcelSheet.cs.csproj.CopyComplete
/CreateInsertScripFromExcelSheet.cs/obj/Debug/CreateInsertScripFromExcelSheet.cs.csproj.CoreCompileInputs.cache
/CreateInsertScripFromExcelSheet.cs/obj/Debug/CreateInsertScripFromExcelSheet.cs.csproj.FileListAbsolute.txt
/CreateInsertScripFromExcelSheet.cs/obj/Debug/CreateInsertScripFromExcelSheet.cs.csprojAssemblyReference.cache
/CreateInsertScripFromExcelSheet.cs/obj/Debug/CreateInsertScripFromExcelSheet.cs.exe
/CreateInsertScripFromExcelSheet.cs/obj/Debug/CreateInsertScripFromExcelSheet.cs.pdb
/CreateInsertScripFromExcelSheet.cs/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/CreateInsertScripFromExcelSheet.cs/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/CreateInsertScripFromExcelSheet.cs/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/CreateInsertScripFromExcelSheet.cs/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/.vs/ReadExcelData/v15/.suo
/.vs/ReadExcelData/v15/Server/sqlite3/db.lock
/.vs/ReadExcelData/v15/Server/sqlite3/storage.ide
/.vs/ReadExcelData/v15/Server/sqlite3/storage.ide-shm
/.vs/ReadExcelData/v15/Server/sqlite3/storage.ide-wal
/ReadExcelData/bin/Debug/IronXL.dll
/ReadExcelData/bin/Debug/IronXL.xml
/ReadExcelData/bin/Debug/ReadExcelData.exe
/ReadExcelData/bin/Debug/ReadExcelData.exe.config
/ReadExcelData/bin/Debug/ReadExcelData.pdb
/ReadExcelData/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ReadExcelData/obj/Debug/ReadExcelData.csproj.CopyComplete
/ReadExcelData/obj/Debug/ReadExcelData.csproj.CoreCompileInputs.cache
/ReadExcelData/obj/Debug/ReadExcelData.csproj.FileListAbsolute.txt
/ReadExcelData/obj/Debug/ReadExcelData.csprojAssemblyReference.cache
/ReadExcelData/obj/Debug/ReadExcelData.exe
/ReadExcelData/obj/Debug/ReadExcelData.pdb
/ReadExcelData/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ReadExcelData/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ReadExcelData/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/packages/IronXL.Excel.2021.12.0/.signature.p7s
/packages/IronXL.Excel.2021.12.0/EULA.txt
/packages/IronXL.Excel.2021.12.0/IronXL.Excel.2021.12.0.nupkg
/packages/IronXL.Excel.2021.12.0/lib/net45/IronXL.dll
/packages/IronXL.Excel.2021.12.0/lib/net45/IronXL.xml
/packages/IronXL.Excel.2021.12.0/lib/netstandard2.0/IronXL.dll
/packages/IronXL.Excel.2021.12.0/lib/netstandard2.0/IronXL.xml
